
body
{
  font-family: verdana;
  background-repeat: no-repeat;
  padding-left: 18px !important;
  background-size: 20%;
  background-position-y: 20%;
}

img {
    vertical-align: middle;
    border-style: none;
    width: 50%;
    height: 50%;    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    display: block;
}
img::selection {
  color: #fff;
  background: transparent;
}

img::-moz-selection {
  color: #fff;
  background: transparent;
}
#isi{
  margin-left: auto;
  margin-right: 20%;
  margin-top: auto;
  text-align: center;
}
